body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #1e3a8a;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 30px;
  text-align: center;
  background: white;
}

.search {
  text-align: center;
  margin: 20px;
}

.search input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.categories, .products, .cart {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card, .product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

button {
  background: #1e3a8a;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0f172a;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1e3a8a;
  color: white;
  margin-top: 20px;
}

nav a.active {
  background: #1e3a8a;
  padding: 5px;
  border-radius: 5px;
}







/* ===========================
   Gi.Code ERP
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#f4f6f9;
    color:#333;
}

/* ===========================
   LOGIN
=========================== */

.login-page{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#1565c0,#0d47a1);
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
}

.login-card{
    background:#fff;
    width:380px;
    padding:35px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.login-card h1{
    text-align:center;
    color:#1565c0;
    margin-bottom:10px;
}

.login-card h2{
    text-align:center;
    margin-bottom:25px;
    color:#666;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

.input-group input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.input-group input:focus{
    outline:none;
    border-color:#1565c0;
}

.btn-login{
    width:100%;
    padding:12px;
    background:#1565c0;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:17px;
}

.btn-login:hover{
    background:#0d47a1;
}

.error{
    margin-top:15px;
    color:red;
    text-align:center;
}

/* ===========================
   HEADER
=========================== */

.header {
  background: #1e3a8a;
  color: white;
  padding: 20px;
  text-align: center;
}
